@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important; */
  font-family: Helvetica, sans-serif !important;
}
/* a, button{
  font-family: Helvetica, sans-serif !important;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#home, #contribute, #admin{
  opacity: 0;
  animation: fade 0.5s ease-in 0.1s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}